language: objective-c
matrix:
  include:
    - os: osx
      osx_image: xcode7.3
    - os: osx
      osx_image: xcode8
before_install:
- brew cask uninstall oclint
- brew tap oclint/formulae
- brew install oclint
- oclint -version
script:
  - xcodebuild -dry-run | tee xcodebuild.log
  - oclint-xcodebuild
  - oclint-json-compilation-database
